{% extends 'base.html' %}


{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Welcome to Eli's Crypto News Network</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">24H high</th>
      <th scope="col">24H low</th>
      <th scope="col">Market capital</th>
    </tr>
  </thead>
  <tbody>

{% for key,value in price.DISPLAY.items %}

    <tr>
      <td>{{ key }}</td>
      <td>{{ value.NGN.PRICE }}</td>
      <td>{{ value.NGN.HIGHDAY }}</td>
      <td>{{ value.NGN.LOWDAY }}</td>
      <td>{{ value.NGN.MKTCAP }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<div class="container">
	<div class="row">
		{% for i in api.Data %}
		<div class="col-sm">
	<div class="card" style="width: 18rem;">
  		<img class="card-img-top" src="{{ i.imageurl }}" alt="{{ i.source }}">
  		<div class="card-body">
	    <h5 class="card-title"> {{ i.title }} </h5>
	    <p class="card-text"> {{ i.body }} </p>
	    <a href=" {{ i.url }} " class="btn btn-secondary">Read More..</a>
	  </div>
	</div>
	</div>
	{% endfor %}
</div>
</div>


{{ api.Data }}

{% endblock %}